# Generals
.DS_Store
.idea
*.iml
.code

# Deps
vendor/**

# NodeJS
node_modules
package-lock.json
build

# PKI
*.crt
*.csr
*.cer
*.pem
*.key
!**/testdata/*.cer
!**/testdata/*.pem

# Secret files
**/*secret*

# Temp file
tmp
